nav ul ul{
        display:none;
}

nav ul li:hover > ul {
	display: block;
}

nav ul {
	background: #efefef; 
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 20px;
	border-radius: 10px;
	list-style:none;
	position:relative;
	display:inline-table;
}

nav ul:after {
	content:"";
	clear:both;
	display:block;
}
